<h1>Articles</h1>
 
<table>
  <tr>
    <th>titre</th>
    <th>description</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'Afficher', article %></td>
    </tr>
  <% end %>
</table>