/* line 6, /home/ubuntu/workspace/app/assets/stylesheets/mini_articles.scss */
main a {
  text-decoration: none;
  color: inherit;
}
/* line 10, /home/ubuntu/workspace/app/assets/stylesheets/mini_articles.scss */
main article {
  background-color: #FFFFFF;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 20, /home/ubuntu/workspace/app/assets/stylesheets/mini_articles.scss */
main article:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/mini_articles.scss */
main article header {
  flex-grow: 1;
  min-width: 30%;
  min-height: 200px;
  display: flex;
  align-items: flex-end;
}
/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/mini_articles.scss */
main article header h1 {
  color: #FFFFFF;
  margin: 0.5em;
}
/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/mini_articles.scss */
main article > div {
  padding: 1rem;
  flex-grow: 5;
  flex-basis: 0;
}
/* line 36, /home/ubuntu/workspace/app/assets/stylesheets/mini_articles.scss */
main article > div p {
  margin: 0;
}

/* masonry-style layout */
/* line 50, /home/ubuntu/workspace/app/assets/stylesheets/mini_articles.scss */
main {
  column-gap: 1.5em;
  column-width: 17em;
  margin: 4em;
}
/* line 55, /home/ubuntu/workspace/app/assets/stylesheets/mini_articles.scss */
main article {
  display: inline-block;
  margin: 0 0 1.5em;
  width: 100%;
}

/*
@media only screen and (min-width: $minCardColumnWidth * 6) {
  main {
    max-width: $minCardColumnWidth * 6;
  }
}
*/
