@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: 'Open Sans', sans-serif;
  color: $colorText;
  line-height: 1.3;
}

h1 {
  font-size: 2em;
  margin: 0.83em 0;
}

p {
  margin: 1em 0;
}
