@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: 'Open Sans', sans-serif;
  color: $colorText;
  line-height: 1.3;
}

h1 {
  font-size: 2em;
  margin: 0.83em 0;
}

p {
  margin: 1em 0;
}

//placeholder fixes
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $colorPlaceHolder;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $colorPlaceHolder;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $colorPlaceHolder;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $colorPlaceHolder;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $colorPlaceHolder;
}
