@mixin floating-action-button($size, $backgroundColor, $hoverColor) {
  position: fixed;
  display: inline-block;
  border: none;

  display: inline-block;
  border: none;
  color: $colorLight;

  background-color: $backgroundColor;
  border-radius: 50%;
  width: $size;
  height: $size;
  text-align: center;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: $hoverColor;
    cursor: pointer;
  }

  i {
    font-size: $size / 3;
    margin: 1em 0;
  }
}


#main-floating-action-button {
  @include floating-action-button($mainFabSize, $colorSecondary, $colorSecondaryLight);

  right: $mainFabSize / 2;
  bottom: $mainFabSize / 2;
}

#secondary-floating-action-button {
  @include floating-action-button($secondaryFabSize, $colorTertiary, $colorTertiaryLight);

  $marginBot: $mainFabSize + $mainFabSize / 2 + $secondaryFabSize / 2;
  $marginRight: ( $mainFabSize - $secondaryFabSize) / 2 + $mainFabSize / 2;

  right: $marginRight;
  bottom: $marginBot;
}
