@mixin floating-action-button($size, $backgroundColor, $hoverColor) {
  @include centered-icon-button($size);
  @include enable-transition;

  position: fixed;
  display: inline-block;
  border: none;

  display: inline-block;
  border: none;
  color: $colorLight;

  background-color: $backgroundColor;
  border-radius: 50%;
  text-align: center;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: $hoverColor;
    cursor: pointer;
  }
}


#main-floating-action-button {
  @include floating-action-button($mainFabSize, $colorSecondary, $colorSecondaryLight);

  right: $mainFabSize / 2;
  bottom: $mainFabSize / 2;
}

#secondary-floating-action-button {
  @include floating-action-button($secondaryFabSize, $colorTertiary, $colorTertiaryLight);

  $marginBot: $mainFabSize + $mainFabSize / 2 + $secondaryFabSize / 2;
  $marginRight: ( $mainFabSize - $secondaryFabSize) / 2 + $mainFabSize / 2;

  right: $marginRight;
  bottom: $marginBot;
}
