@mixin maxiArticleBody() {
  max-width: $maxMaxiArticleWidth;
  margin: 0 auto;
  font-size: 1.2em;
}

@mixin maxiArticleTitle() {
  font-weight: 300 !important;
  font-size: 6em;
  margin: 0.1em 0;
}

[data-controller="articles"][data-action="show"] {
  article {
    @include maxiArticleBody;
    h1 {
      @include maxiArticleTitle;
    }

    img {
      width: 100%;
    }
    pre {
      white-space: pre-wrap;
    }
  }

}
