[data-controller="articles"][data-action="index"] {
  main {

    a {
      text-decoration: none;
      color: inherit;
    }
    article {
      background-color: #0A5FB5;
      overflow: hidden;
      border-radius: 2px;

      @include box-shadow(1);
      @include enable-transition;
      &:hover {
        @include box-shadow(2);
      }

      header {
        flex-grow: 1;
        min-width: 30%;
        min-height: 200px;
        display: flex;
        align-items: flex-end;
        h1 {
          color: $colorLight;
          margin: 0.5em;
        }
      }
    }
  }

  /* masonry-style layout */
  $minCardColumnWidth: $minCardWidth - $cardGutterWidth * 2;

  main {
    column-gap: $cardGutterWidth;
    column-width: $minCardColumnWidth;
    margin: $mainSpaceSize;

    article {
      display: inline-block;
      margin: 0 0 $cardGutterWidth;
      width: 100%;
    }
  }
}
