$colorPrimary: #F25C10;
$colorPrimaryLight: #FE9920;
$colorSecondary: #012622;
$colorSecondaryLight: #23857A;
$colorTertiary: #0A5FB5;
$colorTertiaryLight: #3794F4;
$colorQuaternary: #D52121;
$colorQuaternaryLight: #E55A5A;
$colorLight: #FFFFFF;
$colorLight50: rgba(255, 255, 255, 0.5);
$colorDark: #505050;
$colorDark50: rgba(80, 80, 80, 0.5);

$zIndexHeader: 50;
$zIndexContent: 25;

$colorText: $colorDark;
$colorCardBackground: $colorLight;
$colorPlaceHolder: $colorDark50;

$mainSpaceSize: 4em;
$minCardWidth: 20em;
$cardGutterWidth: 1.5em;

$maxMaxiArticleWidth: 43.750em;

$mainFabSize: 7rem;
$secondaryFabSize: 4rem;
$headerHeight: 10.250em;

@mixin enable-transition {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* credits : https://gist.github.com/paulmelnikow/7fcfbe4f68e5df7fe326 */

@mixin box-shadow ($level) {

  @if $level==1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  @else if $level==2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  @else if $level==3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  @else if $level==4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @else if $level==5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

}
