$colorPrimary: #F25C10;
$colorPrimaryLight: #FE9920;
$colorSecondary: #012622;
$colorSecondaryLight: #23857A;
$colorTertiary: #0A5FB5;
$colorTertiaryLight: #3794F4;
$colorLight: #FFFFFF;
$colorDark: #505050;

$colorText: $colorDark;

$mainSpaceSize: 4em;
$minCardWidth: 20em;
$cardGutterWidth: 1.5em;
$colorCardBackground: $colorLight;

$mainFabSize: 7rem;
$secondaryFabSize: 4rem;

$headerHeight: 10.250em;
