@import 'partials/_variables';


main {

  a {
    text-decoration: none;
    color: inherit;
  }
  article {
    background-color: $colorCardBackground;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24); // the interesting part is below
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    }

    header {
      flex-grow: 1;
      min-width: 30%;
      min-height: 200px;
      display: flex;
      align-items: flex-end;
      h1 {
        color: $colorLight;
        margin: 0.5em;
      }
    }
    >div {
      p {
        margin: 0;
      }
      padding: 1rem;
      flex-grow: 5;
      flex-basis: 0;
    }
  }
}

/* masonry-style layout */

$minCardColumnWidth: $minCardWidth - $cardGutterWidth * 2;

main {
  column-gap: $cardGutterWidth;
  column-width: $minCardColumnWidth;
  margin: $mainSpaceSize;

  article {
    display: inline-block;
    margin: 0 0 $cardGutterWidth;
    width: 100%;
  }
}

/*
@media only screen and (min-width: $minCardColumnWidth * 6) {
  main {
    max-width: $minCardColumnWidth * 6;
  }
}
*/
